name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: test_var_investigate.py
      id: test_var_investigate-py
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: test_var_investigate.py
        setup-command: pip3 install pytest
        command: python -m pytest
        timeout: 10
        max-score: 4
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TEST_VAR_INVESTIGATE-PY_RESULTS: "${{steps.test_var_investigate-py.outputs.result}}"
      with:
        runners: test_var_investigate-py
